hr {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #003;
    text-align: center;
}
hr:after {
    content: " ";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.em;
    padding: 0 0.25em;
    background: #FFF
}
